service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid}/answers/{answerid} {
      allow read, create, update:
        if uid != '' && uid == request.auth.uid;
    }
  }
}
