.App {
  background: #111;
  color: #eee;
  font-family: system-ui;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.StudyList {
  width: 400px;
  flex-shrink: 0;
  overflow: auto;
}

.StudyName {
  background: #111;
  cursor: pointer;
  left: 0;
  padding: 0 24px;
  position: sticky;
  top: 0;
}

.LessonList {
  list-style-type: none;
  padding: 0;
}

.LessonList-Item {
  cursor: pointer;
  padding: 12px 24px;

  &:hover {
    background: #222;
  }
}

.LessonList-Item_Selected {
  background: #222;
}

.LessonList-Item-Name {
  margin: 0 0 4px 0;
}

.LessonEditor {
  flex: 1 1 auto;
  padding: 0 24px;
  overflow: auto;
}
